@model HealtTrack.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<style>

    body {
        margin: 0;
    }

    .Containerright {
        
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        
       
    }

    .right-width {
        display: flex;
        justify-content: center;
    }

    /* ------ Layout lado Esquerdo ------*/

    .left-box {
        width: 30vw;
        height:580px;
        margin-top:-80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom:600px;
        background: rgb(120, 168, 185);
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

        .left-box img {
            width: 90%;
        }

    .imagem {
        display: block;
        margin: auto;
        padding: 0px;
    }

    /* ------ Referencias dos Links ------*/
    .form-group {
        width: 100%;
        display: flex;
        text-align: start;
        flex-direction: column;
        color: white;
        padding: 10px 1px;
    }

    .botao {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10%;
    }

    .button-81 {
        background-color: #fff;
        border: 0 solid #e2e8f0;
        border-radius: 1.5rem;
        box-sizing: border-box;
        color: rgba(37, 83, 107, 1);
        cursor: pointer;
        display: inline-block;
        font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1;
        padding: 1rem 1.6rem;
        text-align: center;
        text-decoration: none #0d172a solid;
        text-decoration-thickness: auto;
        transition: all .1s cubic-bezier(.4, 0, .2, 1);
        box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 200px;
    }

        .button-81:hover {
            background-color: rgba(37, 83, 107, 1);
            color: #fff;
        }

</style>


<body class="containe fluid align-items-center justify-content-start" style="background-image: url(../images/background2.jpg); background-size: cover; padding-top: 100px">

    <div class= "row">
        <div >
            <div>
                <div class="left-box p-4">
                    <img src="../images/Ativo 10.png" alt="imagem" class="img-fluid">

                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Senha" class="control-label"></label>
                            <input asp-for="Senha" class="form-control" />
                            <span asp-validation-for="Senha" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="ConfirmarSenha" class="control-label"></label>
                            <input asp-for="ConfirmarSenha" class="form-control" />
                            <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
                        </div>
                        <div class="text-center">


                            <button class="btn button-81" value="Create" type="submit">Cadastrar</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $("#nav-bar").hide();
        });
    </script>
}