@font-face {
    font-family: 'Jost-Light';
    src: url('../docs/fonts/Jost-Light.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'jostregular';
    src: url('../docs/fonts/jostregular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'jostregularss';
    src: url('../docs/fonts/jostregularss.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Monda-Bold';
    src: url('../docs/fonts/Monda-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Monda-Regular';
    src: url('../docs/fonts/Monda-Regular.ttf') format('truetype');
  }

/*-----------Definição do escopo, para a utilização de porcentagens----------*/
html{
    height: 100%;
    width: 100%;
}
/*-----------display das paginas----------*/
main {
    display: flex;
    justify-content: center;
}
/*-----------Definição do escopo da Tag body----------*/
body {
    display: flex;
    margin: 0px;
    height: 100%;
    background-color: #f2f2f2;
}
/*-----------Correção da margem e demais definições do Header proposto----------*/
header {
    display: flex;
    background: #92b0bb;
    height: 100%;
    width: 5%;
}
/*-----------Definição das posições dos botões principais da aplicação----------*/
header .DivBotoes ul li img{
    height: 50px;
    margin: 20px;
    margin-left: -30%;
}
/*-----------Definição do botão de "sair"----------*/
header .DivBotoes .sair li{
    margin-top: 300px;
    position: fixed;
}
/*-----------Remoção da estilização padrão do CSS/HTML----------*/
.DivBotoes ul {
    list-style-type: none;
    text-decoration: none;
}
/*-----------Estilização dos botões da aplicação----------*/
button {
    all: unset;
    cursor: pointer;
    outline: revert;
  }
  /*-----------Estilização do texto----------*/

  .Introducao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 11.5%;
  }

  .Introducao .BoasVindas{
    margin: 0;
    font-family: Monda-Regular, sans-serif;
    font-size: 350%;
    color:#3b7d8c;
  }

  .Introducao .SubBoasVindas{
    margin: 0;
    font-family: Monda-Regular, sans-serif;
    font-size: 300%;
    color:#3b7d8c;
  }

  .Introducao .texto{
    margin: 0;
    font-family: Monda-Regular, sans-serif;
    font-size: 225%;
    color:#1e405d;
    text-align: center;
  }