@model IEnumerable<HealtTrack.Models.FichaTreino>

<h1 class="text-center" style="color: #3B7D8C">Ficha de Treino</h1>

<p>
    <a type="button" class="btn btn-outline-success" asp-action="Create">Criar Nova Ficha de Treino</a>
</p>

<table class="table" style="font-size: 30px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a type="button" class="btn btn-outline-info"
                        asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a type="button" class="btn btn-outline-danger"
                        asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
