
body{
    padding: 0;
    margin: 0;
    color: #193b59;
    font-size: 2rem;
    overflow: hidden;
}

.green-darker{
    color:#193b59
}
.green-dark{
    color: #3b7d8c;
}
.green-light{
    color: #5ebfbf;
}
.green-lighter{
    color: #92b0bb;
}



/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 95px;
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #92b1bb;
    overflow-x: hidden; 
    padding-top: 20px;
  }
  

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #3b7d8c;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav img{
    width: 40px;
    margin: 10px;
    color: #3b7d8c;
  }
  #logo{
    width: 50px;
  }
  .home{
    position: relative;
    top: 40%;
  }
  .input{
    width: 250px;
    height: 30px;
    font-size: 25px;
  }
  .main {
    margin-left: 10vw;
    padding: 0px 10px;
    margin-top: 10Vh;
  }

  .main img{
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
  }
  h1,h3,h5{
    margin: 0;
  }

  button{
    background-color:#5EBFBF;
    color: white;
    padding: 7px 20px;
    border-radius: 10px;
    border: 0;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media screen and (max-width:1400px){
    .home{
     top:20%;
    }
  }