
@{
    ViewData["Title"] = "Index";
}


<body>
    <h1 class="text-center " style="color: #3B7D8C">
        Bem-vindo ao Nosso Site <br>
        Seu Caminho para um Estilo de Vida Mais Saudável!
    </h1>
    <div class="container-fluid">
        <div class="row">

            <p class="text-center  fs-2" style="color: #193B59">

                Você está pronto para transformar sua saúde física e mental de maneira fácil,
                eficaz e conveniente? Em um mundo onde cada vez mais pessoas estão trabalhando e estudando em casa,
                é fundamental cuidar do seu bem-estar.
                É por isso que apresentamos a você o nosso site de acompanhamento de exercícios físicos e dietas,
                a solução completa para o seu estilo de vida saudável!
            </p>

        </div>
    </div>
</body>

