@{
    ViewData["Title"] = "Privacy Policy";
}



<link rel="stylesheet" href="~/css/Privacy.css" asp-append-version="true" />

<body>
    <main>
        <div class="btns">
            <div class="abasBtnExec ">
                <button id="execBtn" class="activeTabBtn">EXERCÍCIOS</button>
            </div>
            <div class="abasBtnDiet">
                <button id="dietBtn" class="desactiveTabBtn">DIETA</button>
            </div>
        </div>
        <aside class="exerciciosShow" id="execVideos">
            <div class="videos">
                <ul>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/No6n6r5INkU?controls=0"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/91XfJiSnzgc"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/K4YNmyVh5zs"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/b_WvXDvPkd8"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/1mXT4WEiBdc"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/lvpdzEZ4VK4"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/-RqEm6ZbMtw"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/yPjUpQXsid8"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/wUPEOg9ciSY"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/FfI9_fKHH1w"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/No6n6r5INkU?controls=0"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/91XfJiSnzgc"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/K4YNmyVh5zs"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/b_WvXDvPkd8"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/1mXT4WEiBdc"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/lvpdzEZ4VK4"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/-RqEm6ZbMtw"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/yPjUpQXsid8"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/-RqEm6ZbMtw"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/yPjUpQXsid8"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/-RqEm6ZbMtw"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/yPjUpQXsid8"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/-RqEm6ZbMtw"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/yPjUpQXsid8"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                </ul>
            </div>
        </aside>

        <aside class="dietasHidden" id="dietVideos">
            <div class="videos">
                <ul>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/wJBof_K85YY?controls=0"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/5c_0xut1lpo"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/wbCnvguXeBI"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/_hV9TuLqc74"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/wSoMLk6trCw"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/uxiGNchGu3A"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/hX1lS-4zAio"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/3Fk394GEgHM"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/odWFiHyvu1E"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/K4ULONjX2gs"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/wJBof_K85YY?controls=0"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/5c_0xut1lpo"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/wbCnvguXeBI"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/_hV9TuLqc74"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/wSoMLk6trCw"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/uxiGNchGu3A"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/hX1lS-4zAio"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/3Fk394GEgHM"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/odWFiHyvu1E"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/K4ULONjX2gs"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                </ul>
            </div>
        </aside>
    </main>
</body>

<script src="~/js/Privacy.js" asp-append-version="true"></script>

